.propertyViewChars {

}
.propertyViewCharsItem {
    display: flex;
}
.propertyViewCharsDesc {
    min-width: 300px;
    position: relative;
}
.propertyViewCharsDesc::before {
    content: " ";
    position: absolute;
    border-bottom: 1px dotted silver;
    left: 0;
    right: 10px;
    bottom: 3px;
}
.propertyViewCharsDesc__value {
    position: absolute;
    background: white;
    padding-right: 10px;
    color: #666;
    font-size: 0.9em;
}
.propertyViewCharsItem__value {
    font-size: 0.9em;
}
