.propertyViewSlickFancybox {

}
.propertyViewSlickFancybox .slick-prev:before,
.propertyViewSlickFancybox .slick-next:before {
    color: #666666;
}
.propertyViewSlickFancyboxMainArea {
    padding: 0 25px;
    margin-bottom: 1rem;
}
.propertyViewSlickFancyboxMainArea__item {

}
.propertyViewSlickFancyboxMainArea__item img {
    width: 100%;
}
.propertyViewSlickFancyboxSmallGalery {
    padding: 0 25px;
}
.propertyViewSlickFancyboxSmallGalery__item {
    cursor: pointer;
}
.propertyViewSlickFancyboxSmallGalery__item img {
    width: 100%;
}
