.filterView {
	background: white;
	border: 1px solid #eee;
	padding: 15px;
}
.filterView__item {
	margin-bottom: 15px;
}
.filterViewItem__label {
	display: block;
}
.filterViewItem__checkboxList {

}
.filterViewItem__checkboxListItem {
	margin: 5px;
	margin-left: 0;
}
.filterViewItem__checkboxListItem input {

}
.filterViewItem__checkboxListItem span {
	padding-left: 5px;
}
.filterViewItem__checkbox {

}
.filterViewItem__select {

}
.filterViewItem__select option {
	padding: 5px;
}
.filterViewItem__radioList {

}
.filterViewItem__radioListItem {
	margin: 5px;
	margin-left: 0;
}
.filterViewItem__radioListItem input {

}
.filterViewItem__radioListItem span {
	padding-left: 5px;
}
.filterViewItem__text {

}
.filterViewItem__datetime {

}
.filterViewItem__date {

}
.filterViewItem__component {

}
.filterView__btns {

}
.filterViewBtn__apply {

}
.filterViewBtn__reset {

}
