.bitrix_moduleIblockElementViewDetail {

}
.bitrix_moduleIblockElementViewDetail__title {
    margin-bottom: 2rem;
}
.bitrix_moduleIblockElementViewDetail__banner {
    margin-bottom: 2rem;
}
.bitrix_moduleIblockElementViewDetail__content {
    margin-bottom: 2rem;
}
