.bitrixModuleCssIblockElementViewDetail {

}
.bitrixModuleCssIblockElementViewDetail__title {
    margin-bottom: 2rem;
}
.bitrixModuleCssIblockElementViewDetail__banner {
    margin-bottom: 2rem;
}
.bitrixModuleCssIblockElementViewDetail__content {
    margin-bottom: 2rem;
}
.bitrixModuleCssIblockElementViewDetail__content * {
	max-width: 100%;
}
