.bitrixModuleCssElementViewListItem {
	display: flex;
	margin-bottom: 2rem;
	flex-direction: column;
}
.bitrixModuleCssElementViewListItem .list-item-img {
	margin-bottom: 2rem;
}
.bitrixModuleCssElementViewListItem .list-item-body {
	padding: 0;
}
.bitrixModuleCssElementViewListItem .list-item-title {

}
.bitrixModuleCssElementViewListItem .list-item-subtitle {
	opacity: 0.8;
}
.bitrixModuleCssElementViewListItem .list-item-text {
	display: block;
	margin-bottom: 1rem;
}
.bitrixModuleCssElementViewListItem .list-item-link {

}
@media (min-width: 576px) {
	.bitrixModuleCssElementViewListItem {
		flex-direction: row;
	}
	.bitrixModuleCssElementViewListItem .list-item-img {
		margin-bottom: 0;
		margin-right: 1.5rem;
		flex: 0 0 30%;
	}
	.bitrixModuleCssElementViewListItem .list-item-text {
		display: none;
	}
}
@media (min-width: 768px) {
	.bitrixModuleCssElementViewListItem .list-item-img {
		margin-bottom: 0;
		margin-right: 1.5rem;
		flex: 0 0 30%;
	}
}
@media (min-width: 992px) {
	.bitrixModuleCssElementViewListItem .list-item-img {
		flex: 0 0 25%;
	}
	.bitrixModuleCssElementViewListItem .list-item-text {
		display: block;
	}
}
@media (min-width: 1200px) {

}
